@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  
{ 
     if (!Model.MetaAttributes.ContainsKey("breadcrumTitle"))
        {
            <text>@Model.Title</text>
        }
        else
            {
                <text>@Model.MetaAttributes["breadcrumTitle"]</text>
                }
}else 
{
if (Model.IsClickable) 
{ 
    <a href="@Model.Url">@Model.Title</a>
} 
else { 
    <text>@Model.Title</text>
}
}
